.node {
    position: absolute;
    width: 48px;
    height: 48px;

    border: 3px solid #061A40;
    border-radius: 50%;

    cursor: pointer;
    &:hover {
        border-color: #3C91E6;
        .node__inner {
            background: #3C91E6;
        }
    }

    &__inner {
        box-sizing: content-box;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);

        width: 24px;
        height: 24px;
        background: #061A40;
        border: 9px solid #F4F5FC;
        border-radius: 50%;
    }
}
