.node {
    cursor: pointer;
    &--isolated {
        .node__outer {
            display: none;
        }
    }

    &:hover {
        .node__inner {
            fill: #3C91E6;
        }

        .node__outer {
            stroke: #3C91E6;        
        }
    }
}
