.edge {
    cursor: pointer;
    &:hover {
        .edge__inner {
            stroke: #3C91E6;
        }
    }

    &__text {
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        color: #061A40;
    }
}
