<svg:g (click)="edgeClick()" class="edge">
    <svg:line class="edge__outer" 
    stroke-width="9"
    stroke="#F4F5FC"
    [attr.x1]="data.p1.x"
    [attr.y1]="data.p1.y"
    [attr.x2]="data.p2.x"
    [attr.y2]="data.p2.y">
    </svg:line>
    <svg:line class="edge__inner" 
    stroke-width="3"
    stroke="#061A40"
    [attr.x1]="data.p1.x"
    [attr.y1]="data.p1.y"
    [attr.x2]="data.p2.x"
    [attr.y2]="data.p2.y">
    </svg:line>
    <svg:text [attr.transform]="'rotate(' + getTangent() + ', ' + getTextPosition().x + ',' + getTextPosition().y + ')'" text-anchor="middle" class="edge__text" [attr.x]="getTextPosition().x" [attr.y]="getTextPosition().y">
        {{ data.label }}
    </svg:text>
</svg:g>