.toolbar {
    position: absolute;
    z-index: 1;
    width: 80px;
    &__content {
        margin-left: 16px;
        background: #061A40;
        border-radius: 11px;
        padding: 3px;
        width: 64px;
    }

    &__item {
        cursor: pointer;
        background: #061A40;
        border-radius: 11px;
        height: 64px;
        &--active, &:hover {
            background: #F4F5FC;
            svg, path {
                stroke: #061A40;
            }
        }

        display: flex;
        justify-content: center;
        align-items: center;
    }
}
