<div class="topbar">
    <div class="topbar__content">
        <div class="topbar__left">
            <div class="brand">
                <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="24" cy="24" r="16.5" fill="#3C91E6" stroke="#F4F5FC" stroke-width="9"/>
                    <circle cx="24" cy="24" r="22.5" stroke="#3C91E6" stroke-width="3"/>
                </svg>                    
            </div>
        </div>
        <div class="topbar__right">
            <div class="zoom">
                <div (click)="zoomIn()">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 5V19" stroke="#061A40" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M5 12H19" stroke="#061A40" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
                <div>{{ zoom$ | async }}</div>
                <div (click)="zoomOut()">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5 12H19" stroke="#061A40" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                        
                </div>
            </div>
        </div>
    </div>
</div>
