.topbar {
    background: #F4F5FC;
    display: flex;
    align-items: flex-end;

    &__content {
        padding: 16px;
        width: 100%;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.brand {
    width: 64px;
    height: 64px;
    background: #3C91E6;
    border-radius: 11px;
}

.zoom {
    display: flex;
    align-items: center;
    > div {
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        font-size: 16px;

        padding: 0 1em;
        cursor: pointer;
    }
}
